<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="

    公主故事, 儿童故事, 故事大全, 睡前故事, 童话故事, 白雪公主的故事, 儿童睡前故事大全,  少儿睡前故事, 儿童故事大全, 贝瓦故事, 下载, 故事, 宝宝, 听故事, mp3, 在线, 听故事大全, 幼儿园, 寓言故事, 儿歌, 早教, 绘本, 英语, 百科, 国学, 童话, 寓言, 名著, 儿童, 启蒙, 教育,儿童,歌谣, 唐诗, 幼教, 启蒙, 有声读物, 有声故事,儿歌童谣,儿童学习, 育儿教育, 故事机, 智能故事机
    ">
    <meta name="description" content="

     小柠檬 - 儿童智能故事机
    ">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-itunes-app" content="app-id=">
    <meta name="format-detection" content="telephone=no" searchtype="map">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="360-site-verification" content="" />
    <meta name="baidu-site-verification" content="c9OMy2PZRe" />
    <meta name="sogou_site_verification" content="T3h2jfRY65"/>
    <link rel="shortcut icon" href="{$JICDOMAIN}/www/img/icon_logo_180x180.png?v={$VERSION}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="{$JICDOMAIN}/www/img/icon_logo_180x180.png?v={$VERSION}">
    <link rel="dns-prefetch" href="{$JICDOMAIN}">
    <title>小柠檬 - 儿童智能故事机</title>
    <link href="{$JICDOMAIN}/pc_core/css/bootstrap.css?v={$VERSION}" rel="stylesheet" media="screen">
    <link href="{$JICDOMAIN}/www/css/style.css?v={$VERSION}" rel="stylesheet">
    <script src="{$JICDOMAIN}/pc_core/js/bootstrap.min.js?v={$VERSION}"></script>
</head>
<body style="background:#fffbf6">
<div class="wrap">
    <div class="nav-menu clearfix">
        <ul class="header_nav right">
            <li><a href="#" class="cur">首页</a></li>
            <li><a href="mailto:help@xiaoningmeng.net">联系我们</a></li>
        </ul>
    </div>
  
	<div class="main-container">
  		<div class="m1 clearfix">
        	<div class="left">
            	<img class="img-responsive" width="150px" height="150px" src="{$JICDOMAIN}/www/img/logo@2x.png?v={$VERSION}" />
                <h1>小柠檬</h1>
                <p>儿童智能故事机</p>               
                <div class="downloadCell">
                	<a href="" id="ios"><em></em>IPhone&nbsp;下载(敬请期待)</a>
                	<a href="/app/down" id="android"><em></em>Android&nbsp;下载</a>
                </div>
            </div>
            <div class="right">
            	<img class="" src="{$JICDOMAIN}/www/img/index_img1.jpg?v={$VERSION}" />
            </div>
        </div>
        
        <div class="m2 colm1 clearfix">
        	<div class="left txtCell">
            	<h2>让孩子学会自我教育</h2>
                <p>“故事敞开我们的生命空间，孕育我们生命的记忆，陪伴我们生命的旅程。</p>
                <p>没有故事的生活是寂寞的，没有故事的童年是暗淡的。</p>
                <p>远离故事的教育虽然华丽、详实，但总让人觉得少了真实的血脉，而显得干枯。”</p>
                <p class="text-right"></p>
            </div>
            <div class="right imgCell">
            	<img class="img-circle" src="{$JICDOMAIN}/www/img/index_img2@2x.jpg?v={$VERSION}" />
            </div>
        </div>
        
        <div class="m2 colm2 clearfix">
            <div class="right txtCell">
                <h2>爱，是陪伴</h2>
                <p>每天加班很晚？<br />淘宝，朋友圈，微博，游戏… 停不下来？<br />不会讲故事？<br />孩子没有听故事的习惯？</p>
                <p>手机变身故事机。让孩子拥有亲子时间，增加和孩子的情感交流。</p>
            </div>
            <div class="left imgCell">
            	<img class="img-circle" src="{$JICDOMAIN}/www/img/index_img3@2x.jpg?v={$VERSION}" />
            </div>
        </div>
        
        <div class="m2 colm3 clearfix">
        	<div class="left txtCell">
            	<h2>独家定制优质内容</h2>
                <p>早教、绘本、儿歌、英语、百科、国学、童话、寓言、名著…儿童启蒙教育全类目</p>
                <p>海量优质内容。小柠檬聪明的分析孩子的兴趣爱好，结合内容的特点，为孩子独家定制优质内容。</p>
            </div>
            <div class="right imgCell">
            	<img class="img-circle" src="{$JICDOMAIN}/www/img/index_img4@2x.jpg?v={$VERSION}" />
            </div>
        </div>
        <div class="footer">
        	<em></em>
            www.xiaomeng.net&nbsp;2015&nbsp;©&nbsp;All&nbsp;Rights&nbsp;Reserved&nbsp;京ICP备15055231号
        </div>
  	</div>
</div>

{literal}
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?e31021a082a2ae63eee48685ce0a31fa";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script> 
{/literal}
</body>
</html>