<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="keywords"
          content="儿歌,儿歌大全,公主故事, 儿童故事, 故事大全, 睡前故事, 童话故事, 白雪公主的故事, 儿童睡前故事大全,  少儿睡前故事, 儿童故事大全, 贝瓦故事, 贝瓦儿歌,下载, 故事, 宝宝, 听故事, mp3, 在线, 听故事大全, 幼儿园, 寓言故事, 儿歌, 早教, 绘本, 英语, 百科, 国学, 童话, 寓言, 名著, 儿童, 启蒙, 教育,儿童,歌谣, 唐诗, 幼教, 启蒙, 有声读物, 有声故事,儿歌童谣,儿童学习, 育儿教育, 故事机, 智能故事机">
    <meta name="description" content="● 让故事儿歌带给宝贝多彩童年
【内容特色】
● 睡前听
海量睡前音乐、睡前故事，带宝贝进入甜蜜梦乡。
● 学知识
成语故事、精选古诗、生活常识、课文诵读······更多精彩等你发现。
● 学做人
宝贝爱挑食怎么办？太害羞怎么办？不想上幼儿园怎么办？不想和朋友分享怎么办？
轻松一点，在小柠檬，一个故事就搞定了。

【功能概览】
● 每日更新
用心筛选优质故事，每天都有新体验。
● 年龄筛选
为宝宝私人订制的故事盒子。
● 批量下载
没别的，就是方便。
● 妈妈社区
晒美食、秀萌娃、po自拍······这里是辣妈们的聚集地。
● 热门作者
* 作协副主席、国家一级作家、儿童文学教授······
* 曾获安徒生大奖、凯迪克大奖、冰心儿童文学奖······
不说了，你们自己体会吧。

【用户好评】
★裙摆女王：很喜欢听，宝宝每天都要听上一会儿，不错。
★新月：听孩子幼儿园同学妈妈介绍的，真的很好用，还没有广告，连英语都有呢。
★静水深流：里面的音乐哄孩子睡觉挺好的。
★如初：我家孩子听故事已经成为习惯了，而且我不用操心，都是正能量的。
★小白：里面故事挺有教育意义的，孩子能学到东西。

【联系我们】
官网：http://www.xiaoningmeng.net
反馈邮箱：help@xiaoningmeng.net
官方QQ交流群：122577637
新浪微博：@小柠檬-听儿歌故事">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-itunes-app" content="app-id=">
    <meta name="format-detection" content="telephone=no" searchtype="map">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="360-site-verification" content=""/>
    <meta name="baidu-site-verification" content="c9OMy2PZRe"/>
    <meta name="sogou_site_verification" content="T3h2jfRY65"/>
    <link rel="shortcut icon" href="{$JICDOMAIN}/www/img/icon_logo_180x180.png?v={$VERSION}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="{$JICDOMAIN}/www/img/icon_logo_180x180.png?v={$VERSION}">
    <link rel="dns-prefetch" href="">
    <title>小柠檬-听儿歌故事</title>
    <link href="{$JICDOMAIN}/pc_core/css/bootstrap.css?v={$VERSION}" rel="stylesheet" media="screen">
    <link href="{$JICDOMAIN}/www/css/style.css?v={$VERSION}" rel="stylesheet">
    <link href="{$JICDOMAIN}/www/css/base.css?v={$VERSION}" rel="stylesheet">
    {literal}
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?e31021a082a2ae63eee48685ce0a31fa";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    {/literal}
</head>
<body>
<!--{if $is_weixin}
<div class="alert alert-block">
    <h5>通过以下步骤下载安装小柠檬:</h5>
    <p>
        <small>① 点击右上角" : "按钮</small>
    </p>
    <p>
        <small>② 选择在" 浏览器中打开 "</small>
    </p>
</div>
{/if}-->
<div class="wrap-fx">
    <!--头部-->
    <div class="mod fx_t">
        <div class="leftCell">
            <div class="tag"><i></i>{$result.albuminfo.listennum}</div>
            <div class="cover"><img class="img-rounded" src="{$result.albuminfo.cover}?v={$VERSION}"/></div>
        </div>
        <div class="rightCell">
            <h4 class="album-title">{$result.albuminfo.title}</h4>
            <div class="d1">
                <div class="age-str">{$result.albuminfo.age_str}</div>
                <p class="level">
                    {foreach item=item from=$star_arr}
                    {if $star_level >= $item}
                    <i class="rating_star_select"></i>
                    {else}
                    <i class="rating_star_normal"></i>
                    {/if}
                    {/foreach}
                </p>
            </div>
            <div class="d2 clearfix">
                <div id="indicatorContainer"></div>
            </div>
        </div>
    </div>

    <!--按钮组-->
    <div class="mod fx_col clearfix">
        <a class="d d1" data-toggle="modal" href="#download-app"><i></i>
            {if $result.albuminfo.favnum == 0}
            收藏
            {else}
            {$result.albuminfo.favnum}
            {/if}
        </a>
        <a class="d d2" data-toggle="modal" href="#download-app"><i></i>{$result.albuminfo.commentnum}</a>
        <a class="d d3" data-toggle="modal" href="#download-app"><i></i>分享</a>
        <a class="d d4" data-toggle="modal" href="#download-app"><i></i>批量下载</a>
    </div>

    <div class="" data-view="detail">
        <!-- s: 内容简介 -->
        <section class="mod">
            <h3 class="sub-header">简介</h3>
            <div class="box">

                <div class="intro j-aintro-con album-intro">
                    <div id="intro-breviary">
                        {$result.albuminfo.intro|mb_substr:0:100:'UTF-8'}...
                    </div>
                    <div id="intro-full" style="display: none">
                        {$result.albuminfo.intro}
                    </div>
                </div>
                <div class="show-more" id="intro-more">查看全部内容</div>


            </div>
        </section>
        <!-- e: 内容简介 -->

        <!-- s: 声音列表 -->
        <section class="mod">
            <h3 class="sub-header">声音({$result.storylist|@count})</h3>
            <ol class="story-list">

                {foreach item=item from=$result.storylist name=storylist}
                {if $smarty.foreach.storylist.iteration < 5}
                <li class="item-block row-fluid">
                    <div class="num span1">{$smarty.foreach.storylist.iteration}</div>
                    <div class="item-content span11">
                        <span>{$item.title}</span>
                        <span class="item-play" isPlay="false" id="play_{$smarty.foreach.storylist.iteration}">
                        <img src="{$JICDOMAIN}/www/img/play_small.png" alt="播放">
                        <audio>
                          <source src="{$item.mediapath}" type="audio/mpeg"/>
                        </audio>
                        </span>
                    </div>
                </li>
                {/if}
                {/foreach}
                <li class="show-more">
                    <a data-toggle="modal" href="#download-app">查看更多</a>
                </li>
            </ol>
        </section>
        <!-- e: 声音列表 -->

        <!-- s: 相关专辑 -->
        <section class="mod">
            <h3 class="sub-header">相关专辑</h3>
            <ol class="recommend-list">
                {foreach item=item from=$result.recommends name=storylist}
                <a href="http://www.xiaoningmeng.net/album/info.php?albumid={$item.id}&winzoom=1">
                    <li class="recommend">
                        <img class="img-rounded recommend-img" src="{$item.cover}" alt="">
                        <h6 class="recommend-title">{$item.title}</h6>
                        <div class="recommend-listennum"><i></i>{$item.listennum}
                        </div>
                    </li>
                </a>
                {/foreach}
            </ol>
        </section>
        <!-- e: 相关专辑 -->
        <!-- s: 精彩评论 -->

        <!-- e: 精彩评论 -->
    </div>
    <div class="xz1">
        <a id="btnOpenApp1" href="http://www.xiaoningmeng.net/app/down">
            <img class="download-btn" width="100%" src="http://jic.xiaoningmeng.net/www/img/download_android.png" alt="">
        </a>
    </div>
</div>


<!-- Modal -->
<div id="download-app" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-body">
        <img class="download-img"
             src="http://p.xiaoningmeng.net/static/download_img.jpg"
             alt="">
        <div class="download-text">下载小柠檬App, 好听的故事都在这里哦</div>
        <div class="download-btn-div">
            <a href="http://www.xiaoningmeng.net/app/down">
                <img class="download-btn" src="http://jic.xiaoningmeng.net/www/img/download_android.png" alt="">
            </a>
        </div>
    </div>
</div>

<div id="download-app-ios" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-body">
        <img class="download-img"
             src="http://p.xiaoningmeng.net/static/download_img.jpg"
             alt="">
        <div class="download-text">由于IOS微信浏览器中无法打开音频，请从浏览器中打开或者下载APP</div>
        <div class="download-btn-div">
            <a href="http://www.xiaoningmeng.net/app/down">
                <img class="download-btn" src="http://jic.xiaoningmeng.net/www/img/download_android.png" alt="">
            </a>
        </div>
    </div>
</div>

<script src="{$JICDOMAIN}/www/js/jquery.min.js"></script>
<script src="{$JICDOMAIN}/pc_core/js/bootstrap.min.js?v={$VERSION}"></script>
<script src="{$JICDOMAIN}/www/js/radialIndicator.min.js"></script>
{literal}
<script>
    var $lastPlay = 'play_1';
    var u = navigator.userAgent;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
    var isWechat = u.indexOf('MicroMessenger') > -1; //wechat终端
    //进度条
    var radialObj = radialIndicator('#indicatorContainer', {
        radius: 28,
        barWidth: 3,
        barColor: '#ffca76',
        valyue: 0,
        minValue: 0,
        maxValue: 60,
        roundCorner: true,
        displayNumber: false
    });
    $(document).ready(function () {
        $('.item-block:last').css('margin', 0);
        $.each($('.recommend'), function (i, item) {
            if (i % 2 == 0) {
                $(item).css('float', 'right');
            }
        });
        $('#intro-more').click(function () {
            if ($("#intro-breviary").is(':hidden')) {
                $('#intro-breviary').show();
                $('#intro-full').hide();
                $(this).text('查看全部内容');
            } else {
                $('#intro-breviary').hide();
                $('#intro-full').show();
                $(this).text('收起');
            }
        });
        $('.item-play').click(function () {
            $('.item-play').not(this).each(function (i, item) {
                if ($(item).attr('isPlay') == 'true') {
                    mediaPause($(item));
                }

            });
            var $isPlay = $(this).attr('isPlay');
            if ($isPlay == 'true') {
                mediaPause($(this));
                $('#indicatorContainer').css('background-image', 'url(http://jic.xiaoningmeng.net/www/img/album_play.png)');
            } else {
                mediaPlay($(this));
                $('#indicatorContainer').css('background-image', 'url(http://jic.xiaoningmeng.net/www/img/album_pause.png)');
            }
        });
        $('#indicatorContainer').click(function () {
            var $aPlay = $('#' + $lastPlay);
            var $isPlay = $aPlay.attr('isPlay');
            if ($isPlay == 'true') {
                mediaPause($aPlay);
                $(this).css('background-image', 'url(http://jic.xiaoningmeng.net/www/img/album_play.png)');
            } else {
                mediaPlay($aPlay);
                $(this).css('background-image', 'url(http://jic.xiaoningmeng.net/www/img/album_pause.png)');
            }
        });

        $('.modal').on('show', function () {
            $('.xz1').hide();
            $('.xz1').hide();
        });
        $('.modal').on('hidden', function () {
            $('.xz1').show();
        });

        if (!isAndroid) {
            $('.download-btn').attr('src', 'http://jic.xiaoningmeng.net/www/img/download_ios_waiting.png');
        }

    });

    var $interval;
    function mediaPause(item) {
        item.find('audio')[0].pause();
        item.attr('isPlay', false);
        item.find('img').attr('src', 'http://jic.xiaoningmeng.net/www/img/play_small.png');
        item.find('img').attr('alt', '播放');
        clearInterval($interval);
    }

    function mediaPlay(item) {
        if (isWechat && !isAndroid) {
            //IOS微信中打不开音频，给予提示
            $('#download-app-ios').modal('show');
        }
        var $itemId = item.attr('id');
        var $audio = item.find('audio')[0];
        if ($itemId == $lastPlay) {
            $audio.play();
        } else {
            $audio.load();
            $audio.play();
            radialObj.animate(10);
        }
        item.attr('isPlay', true);
        item.find('img').attr('src', 'http://jic.xiaoningmeng.net/www/img/pause_small.png');
        item.find('img').attr('alt', '暂停');
        $lastPlay = $itemId;
        //进度条
        radialObj.option('maxValue', $audio.duration);
        $interval = setInterval(function () {
            radialObj.value($audio.currentTime + 1);
        }, 1000);
    }

    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?e31021a082a2ae63eee48685ce0a31fa";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
{/literal}
</body>
</html>
