<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="

    公主故事, 儿童故事, 故事大全, 睡前故事, 童话故事, 白雪公主的故事, 儿童睡前故事大全,  少儿睡前故事, 儿童故事大全, 贝瓦故事, 下载, 故事, 宝宝, 听故事, mp3, 在线, 听故事大全, 幼儿园, 寓言故事, 儿歌, 早教, 绘本, 英语, 百科, 国学, 童话, 寓言, 名著, 儿童, 启蒙, 教育,儿童,歌谣, 唐诗, 幼教, 启蒙, 有声读物, 有声故事,儿歌童谣,儿童学习, 育儿教育, 故事机, 智能故事机
    ">
    <meta name="description" content="

     小柠檬 - 儿童智能故事机
    ">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-itunes-app" content="app-id=">
    <meta name="format-detection" content="telephone=no" searchtype="map">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="360-site-verification" content="" />
    <meta name="baidu-site-verification" content="c9OMy2PZRe" />
    <meta name="sogou_site_verification" content="T3h2jfRY65"/>
    <link rel="shortcut icon" href="{$JICDOMAIN}/www/img/icon_logo_180x180.png?v={$VERSION}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="{$JICDOMAIN}/www/img/icon_logo_180x180.png?v={$VERSION}">
    <link rel="dns-prefetch" href="">
    <title>小柠檬 - 儿童智能故事机</title>
    <link href="{$JICDOMAIN}/pc_core/css/bootstrap.css?v={$VERSION}" rel="stylesheet" media="screen">
    <link href="{$JICDOMAIN}/www/css/style.css?v={$VERSION}" rel="stylesheet">
    <script src="{$JICDOMAIN}/pc_core/js/bootstrap.min.js?v={$VERSION}"></script>

</head>
<body>
<div class="wrap-fx">
        <div class="fx_t">
            <div class="leftCell">
                <a href="http://www.xiaoningmeng.net/app/down">
                <img class="img-rounded" src="{$result.albuminfo.cover}?v={$VERSION}" />
                </a>
                <div class="tag"><i></i>{$result.albuminfo.listennum}</div>
            </div>
            <div class="rightCell">
                <h4>{$result.albuminfo.title}</h4>
                <div class="d1">
                	评级：
                    <p class="level">
                    
                    {assign var="max_star_level" value=5}
                    {assign var="index" value=0}
                    <i class="rating_star_select"></i>
                    <i class="rating_star_select"></i>
                    <i class="rating_star_select"></i>
                    <i class="rating_star_select"></i>
                    <i class="rating_star_normal"></i>
                    </p>
                </div>
                <div class="d2 clearfix"><a href="http://www.xiaoningmeng.net/app/down" class="right"></a></div>
            </div>
        </div>
        <div class="fx_col clearfix">
           
        	<div class="d d1"><i></i>
            {if $result.albuminfo.favnum == 0}
            收藏
            {else}
            {$result.albuminfo.favnum}
            {/if}
            </div>
            <b class="divider-vertical"></b>
            <div class="d d2">
            <i></i>
            分享
            </div>
            <b class="divider-vertical"></b>
            <div class="d d3"><i></i>批量下载</div>
            
        </div>
        <div class="navCell clearfix">
            <a href="http://www.xiaoningmeng.net/app/down" class="cur">列表</a>
            <b class="divider-vertical left"></b>
            <a href="http://www.xiaoningmeng.net/app/down">简介</a>
            <b class="divider-vertical left"></b>
            <a href="http://www.xiaoningmeng.net/app/down">评论</a>
        </div>
        <ul class="staryList">
        	
            {foreach item=item from=$result.storylist }
            <li class="clearfix">
            	<span class="num">1</span>
                <p>{$item.title}</p>
                <a href="http://www.xiaoningmeng.net/app/down" class="load_btn">
                	<span class="loading"></span>
                    <span class="load_btn_cont"><i></i>下载</span>
                </a>
            </li>
            {/foreach}

            <!--
        	<li class="clearfix playing">
            	<span class="num"><i></i></span>
                <p>下雨的兔子</p>
                <a href="javascript:void(0)" class="load_btn">
                	<span class="loading" style="width:50%"></span>
                    <span class="load_btn_cont"><i></i>下载</span>
                </a>
            </li>
        	<li class="clearfix">
            	<span class="num">3</span>
                <p>下雨的兔子</p>
                <em></em>
            </li>
            -->
            

        </ul>
        

</div>

<div class="boxMask">
    <a href="http://www.xiaoningmeng.net/app/down">
	<div class="upBox">
        <img src="{$JICDOMAIN}/www/img/logo.jpg?v={$VERSION}" />
        <p>小柠檬&nbsp;-&nbsp;儿童智能故事机</p>
        <a href="http://www.xiaoningmeng.net/app/down" class="btn1">立即下载</a>
        <em class="closeIco"></em>
    </div>
    </a>
</div>

</body>
</html>