<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="儿歌,儿歌大全,公主故事, 儿童故事, 故事大全, 睡前故事, 童话故事, 白雪公主的故事, 儿童睡前故事大全,  少儿睡前故事, 儿童故事大全, 贝瓦故事, 贝瓦儿歌,下载, 故事, 宝宝, 听故事, mp3, 在线, 听故事大全, 幼儿园, 寓言故事, 儿歌, 早教, 绘本, 英语, 百科, 国学, 童话, 寓言, 名著, 儿童, 启蒙, 教育,儿童,歌谣, 唐诗, 幼教, 启蒙, 有声读物, 有声故事,儿歌童谣,儿童学习, 育儿教育, 故事机, 智能故事机">
    <meta name="description" content="小柠檬-听儿歌故事. 育儿、早教、启蒙教育、母婴、教育、辣妈必备！
分享优质儿童有声读物,陪伴儿童度过每个清晨和夜晚的美好时光,和上千万小朋友共同成长!
儿童睡前故事、儿歌、动画片、三字经、弟子规、百家姓、寓言故事、千字文、绘本、儿童英语、

****** 海量精选儿童有声读物 ******

☞ 国际安徒生大奖
☞ 法国Prix de Treize大奖
☞ 荷兰Golden Pencil金画笔奖
☞ 德国Bestlist Award大奖
☞ 美国Graphic Award大奖

集合国内经典故事，欧美，日韩智慧成长故事。
让孩子在故事里，感受生命，感受爱，感受情绪，感受坚持与放弃，感受怯懦与幽默，感受尊重与被尊重.

☞ 儿童睡前故事
儿童睡前故事精选、儿童睡前故事大全、公主故事、睡前小故事、白雪公主、灰姑娘、西游记、365夜故事、睡前亲子必听、

☞ 经典儿歌
儿歌大全100首、贝瓦儿歌、小苹果、小兔子乖乖、童谣、两只老虎、小毛驴、数鸭子、拔萝卜、小燕子、爱我你就抱抱我

☞ 国学经典
三字经、弟子规、百家姓、千字文、唐诗宋词、声律启蒙、诗经、等国学启蒙有声读物熏陶传统文化

☞ 童话故事
格林童话、安徒生童话、一千零一夜、迪士尼童话、

☞ 智力开发
绕口令、十万个为什么、儿童谜语、

☞ 少儿绘本
植物大战僵尸、笑猫日记、窗边的小豆豆、不一样的卡梅拉、青蛙弗洛格的成长故事

☞ 儿童英语
字母歌、趣味单词、语感启蒙、英语儿歌、英语小故事、英语课文

☞ 胎教
莫扎特胎教音乐、贝多芬胎教音乐、古典音乐

联系我们:

	官网:http://www.xiaoningmeng.net
	邮箱:xiaoningmeng001@qq.com

搜索以下关键词可以找到我们：小柠檬,儿童睡前故事,儿歌,儿童故事,睡前故事,童话故事,讲故事,胎教,唐诗,三字经,育儿,早教,启蒙教育,母婴,教育,辣妈">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-itunes-app" content="app-id=">
    <meta name="format-detection" content="telephone=no" searchtype="map">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="360-site-verification" content=""/>
    <meta name="baidu-site-verification" content="c9OMy2PZRe"/>
    <meta name="sogou_site_verification" content="T3h2jfRY65"/>
    <link rel="shortcut icon" href="{$JICDOMAIN}/www/img/icon_logo_180x180.png?v={$VERSION}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="{$JICDOMAIN}/www/img/icon_logo_180x180.png?v={$VERSION}">
    <link rel="dns-prefetch" href="">
    <title>小柠檬-听儿歌故事</title>
    <link href="{$JICDOMAIN}/pc_core/css/bootstrap.css?v={$VERSION}" rel="stylesheet" media="screen">
    <link href="{$JICDOMAIN}/www/css/style.css?v={$VERSION}" rel="stylesheet">
    <script src="{$JICDOMAIN}/pc_core/js/bootstrap.min.js?v={$VERSION}"></script>
</head>
<body>
{if $is_weixin}
<div class="alert alert-block">
    <h5>通过以下步骤下载安装小柠檬:</h5>
    <p><small>①  点击右上角" : "按钮</small></p>
    <p><small>②  选择在" 浏览器中打开 "</small></p>
</div>
{/if}
<div class="wrap-fx">
    <div class="fx_t">
        <div class="leftCell">
            <img class="img-rounded" src="{$result.albuminfo.cover}?v={$VERSION}"/>
            <div class="tag"><i></i>{$result.albuminfo.listennum}</div>
        </div>
        <div class="rightCell">
            <h4>{$result.albuminfo.title}</h4>
            <div class="d1">
                评级：
                <p class="level">
                    {foreach item=item from=$star_arr}
                    {if $star_level >= $item}
                    <i class="rating_star_select"></i>
                    {else}
                    <i class="rating_star_normal"></i>
                    {/if}
                    {/foreach}
                </p>
            </div>
            <div class="d2 clearfix"><a href="http://www.xiaoningmeng.net/app/down" class="right"></a></div>
        </div>
    </div>
    <div class="fx_col clearfix">
        <div class="d d1"><i></i>
            {if $result.albuminfo.favnum == 0}
            收藏
            {else}
            {$result.albuminfo.favnum}
            {/if}
        </div>
        <b class="divider-vertical"></b>
        <div class="d d2"><i></i>分享</div>
        <b class="divider-vertical"></b>
        <div class="d d3"><i></i>批量下载</div>
    </div>
    <div class="navCell clearfix">
        <a href="http://www.xiaoningmeng.net/app/down" class="cur">列表</a>
        <b class="divider-vertical left"></b>
        <a href="http://www.xiaoningmeng.net/app/down">简介</a>
        <b class="divider-vertical left"></b>
        <a href="http://www.xiaoningmeng.net/app/down">评论</a>
    </div>
    <ul class="staryList">
        {foreach item=item from=$result.storylist name=storylist}
        <li class="clearfix">
            <span class="num">{$smarty.foreach.storylist.iteration}</span>
            <p>{$item.title}</p>
            <a href="http://www.xiaoningmeng.net/app/down" class="load_btn">
                <span class="loading"></span>
                <span class="load_btn_cont"><i></i>下载</span>
            </a>
        </li>
        {/foreach}
        <!--
        <li class="clearfix playing">
            <span class="num"><i></i></span>
            <p>下雨的兔子</p>
            <a href="javascript:void(0)" class="load_btn">
                <span class="loading" style="width:50%"></span>
                <span class="load_btn_cont"><i></i>下载</span>
            </a>
        </li>
        <li class="clearfix">
            <span class="num">3</span>
            <p>下雨的兔子</p>
            <em></em>
        </li>
        -->
    </ul>
</div>
<div class="boxMask">
    <div class="upBox">
        <img src="{$JICDOMAIN}/www/img/logo.png?v={$VERSION}"/>
        <p>小柠檬-听儿歌故事</p>
        <a href="http://www.xiaoningmeng.net/app/down" class="btn1">立即下载</a>
        <em class="closeIco"></em>
    </div>
</div>
</body>
</html>
